<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Наши няни</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table .table-hover">
        <thead>
        <tr>
          <td>Имя</td>
          <td>Образование</td>
          <td>Опыт</td>
          <td>Медкнижка</td>
          <td>Цена</td>
          <td>video</td>
          <td>Описание</td>
        </tr>
        </thead>
        <% @nursemaids.each do |nursemaid| %>
            <tr>
              <td><%= link_to nursemaid.name, nursemaid_path(nursemaid.id)  %></td>
              <td><%= nursemaid.education %></td>
              <td><%= nursemaid.experience %></td>
              <td><%= nursemaid.medicine %></td>
              <td><%= nursemaid.price %></td>
              <td><%= nursemaid.video %></td>
              <td><%= nursemaid.description %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>


