<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'All', nursemaids_path %> |
      <%= link_to 'Edit', edit_nursemaid_path(@nursemaid) %> |
      <%= link_to 'Destroy', nursemaid_path(@nursemaid), method: :delete, data: {confirm: 'Вы уверены?'} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1><%= @nursemaid.name %></h1>
    </div>
    <div class="col-md-12">
      <div class="education">
        <p>
          Образование: <%= @nursemaid.education %>
        </p>
      </div>
      <div class="experience">
        <p>
          Опыт: <%= @nursemaid.experience %>
        </p>
      </div>
      <div class="medicine">
        <p>
          Медкнижка: <%= @nursemaid.medicine %>
        </p>
      </div>
      <div class="video">
        <p>
        <%= @nursemaid.video %>
        </p>
      </div>
      <div class="description">
        <p>
          Описание: <%= @nursemaid.description %>
        </p>
      </div>
      <div class="price">
        <p>
        <%= @nursemaid.price %>
        </p>
      </div>
      <div class="date">
        <p>
          <i>Дата регистрации: <%= @nursemaid.created_at.to_date.strftime("%d %B %Y") %></i>
        </p>
      </div>
      <div>
        <%= link_to 'Назад', :back, class: 'btn btn-default' %>
      </div>

    </div>
  </div>
</div>